<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="header1">
    <img src="assets/logo.png" alt="">
    <p class="h5 my-0 me-md-auto fw-normal">Let's know about Japan</p>

    <div class="jumbotron"> 
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" href="#"><%= link_to 'ホーム', root_path %></a>
      <a class="p-2 text-dark" href="#"><%= link_to 'みんなのとうこう', wants_path %></a>
      <a class="p-2 text-dark" href="#"><%= link_to 'プロフィール', user_path(current_user) %></a>
      <a class="p-2 text-dark" href="#"><%= link_to 'ログアウト', logout_path, method: :delete %></a>
    </nav>
  </div>
  </header>

  <section id="section6">
    <h1 class="text-center" id="section1h1">プロフィール</h1>

     <div class="container d-flex align-items-center" id="profile1">
        <div id="profile-left">
          <img class="rounded me-2" src="<%= gravatar_url(@user, { size: 200 }) %>" alt="">
           <ul id="section1ul1">
             <li><%= @user.name %></li>
             <li><a href="" style="font-size: 12px;">Edit profile</a></li>
           </ul>
          <%# <p id="section1p1">こんにちは。<br>TAKAです。大学生です。</p>  %>
          <ul id="section1ul2">
            <li>100</li>
            <li><a href="">Folloing</a></li>
            <li>100</li>
            <li><a href="">Followes</a></li>
          </ul>
          <a href="" id="section1a1">Followerのとうこう</a>
        </div>
    
        <div id="profile-right">
         <% if @wants.any? %>
          <% @wants.each do |want| %>
          <% @prefectures.each do |prefecture| %>
            <div id="profile-right-right">
              <ul id="profile-right-rightul1">
                <li id="profile-right-rightli1"><%= prefecture.name %></li>
                <% if current_user == want.user %>
                <li><%= link_to "削除", want, method: :delete, data: { confirm: "You sure?" } %></li>
                <% end %>
              </ul>
              <%= prefecture.image %>
            </div>

            <div id="profile-right-left">
              <p><%= want.content %></p>
              </div>
               <% end %>
               <% end %>
          </div>
           <%== pagy_bootstrap_nav(@pagy) %>
           <% end %>
        </div>
     </div>
</section>


  <button id="btn3" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">ついかする</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<%= form_with(model: @want, local: true) do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">いきたいところ・したいこと</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <form enctype="multipart/form-data" action="/areas" accept-charset="UTF-8" data-remote="true" method="post"><input type="hidden" name="authenticity_token" value="w1N3p1TrssWZRYiW+iVSZm2nFS/r/9xccMCM5ZFYrbpFhuyvptkOlrdHaHh/YxogTqWG0ra4K/zgO8FULd61kw==" />
            <div class="validate-area"></div>
            <div class="form-group">
              <%= f.label :area_country_id, '都道府県' %>
              <%= f.select :area_country_id, {'北海道': 337, '東京': 231, '愛知': 850, '大阪': 1, '京都': 886, '福岡': 670, '長崎': 240}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
            </div>
      
          <div class="mb-3">
            <label for="message-text" class="col-form-label">したい事:</label>
             <%= f.text_area :content, class: 'form-control', rows: 3 %>
          </div>
          <div class="field">
            <%= f.file_field :image %>
            <%= f.submit 'アップロードする'%>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">とじる</button>
        <%= f.submit 'ついかする', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <a class="btn btn-primary" href="" id="a3">Facebook</a>
</div>

<footer>
  <div id="footer-left">
    <ul id="footerul">
     <li><a href="">ホーム</a></li>
     <li><a href="">みんなのとうこう</a></li>
     <li><a href="">プロフィール</a></li>
     <li><a href="">ログアウト</a></li>
    </ul>
  </div>

  <div id="footer-right">
     <img src="assets/logo.png" alt="">
  </div>
</footer>